---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/portfolio/Hero.astro';
import WorkExperience from '../components/portfolio/WorkExperience.astro';
import TechnicalExtracurriculars from '../components/portfolio/TechnicalExtracurriculars.astro';
import Projects from '../components/portfolio/Projects.astro';
import Competitions from '../components/portfolio/Competitions.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="max-w-none! w-full! p-0!">
      <Hero />
      <div id="work-experience" class="scroll-mt-16">
        <WorkExperience />
      </div>
      <div id="technical-extracurriculars" class="scroll-mt-16">
        <TechnicalExtracurriculars />
      </div>
      <div id="projects" class="scroll-mt-16">
        <Projects />
      </div>
      <div id="competitions" class="scroll-mt-16">
        <Competitions />
      </div>
    </main>
    <Footer />
  </body>
</html>
